body {
    margin: 0;
    padding: 0;
    background-color: #e5e5dc; /* Color base estilo mediterráneo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#book {
    display: none; /* Se oculta hasta que JS lo carga */
}

.page {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-family: 'Playfair Display', serif;
}

.cover {
    background-color: #d8e6c8; /* Verde limón suave */
}

.content {
    text-align: center;
}
