/* Centrar el libro en la pantalla */
body {
    background-color: #f4f1ea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* El contenedor del libro debe ser invisible antes de que JS lo procese */
#book {
    display: none; 
}

/* Estilo básico de cada página */
.page {
    background-color: white;
    padding: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Georgia', serif;
}

.page.cover {
    background-color: #dcedc1;
    color: #555;
}
